body{font-family: sans-serif;
    margin: 0;
    background-color: #ffffff}
    
a{color: black;
    text-decoration: none;}

header{background-color: #000000;
    display: flex;
    min-height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;

}
    
.logo{display: flex;
    align-items: center;
    margin-left: 25px;}
    
.logo img{height: 35px;
    margin-right: -30px;
    margin-left: -5px;
}
    
nav a{font-weight: 600;
    padding-right: 50px;}

nav a:hover{color: #01adb3;}
    /* hover es para respresentar cuando el puntero esta sobre el texto */
header h2:hover{color: rgb(77, 55, 0);}

.nav-link {
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s;
}

.titulosheader1 {
    color: #ffffff;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.titulosheader1:hover {
    color: #01adb3; /* Color de texto al pasar el cursor */
}

.opciones {
    display: flex;
    align-items: center;
    appearance: none;
}

.opciones select {
    margin-left: 10px;
    justify-content: left;
}

.tipos {
    border: 0;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el cuadro de búsqueda */
}

.search-box input[type="text"] {
    
    margin-left: 5px;
}

button:hover{
   color: #01adb3;
}

input {
    padding: 9px;
    padding-right: 350px;
    border-radius: 16px 0 0 16px;
    border: 0;
    outline: none;
}

.botonbuscar {
    border: 0;
    padding: 9px;
    border-radius: 0 16px 16px 0;
}

.eslogan {
    background-color: #01adb3;
    display: flex;
    min-height: 300px;
    align-items: center;
}

.eslogantexto {
    margin: auto;
    margin-bottom: 7.4%;
    color: #E4E4E4;
    font-size: 35px;
    font-family: 'Didot', serif;
}
    
.titulosubmodelados {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-left: 50px;
    color: #35363A;
    font-size: 18px;
}

.contenido3d {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; /* Espacio horizontal entre rectángulos */
    flex-direction: row; /* Cambia la dirección de flex a fila */
    flex-wrap: wrap; /* Permite que los rectángulos se envuelvan en filas */
    justify-content: space-between; /* Espacio horizontal entre rectángulos */
    align-items: flex-start; /* Alinea los rectángulos en la parte superior */
    min-height: 33vh;
}

.rectangle {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 10px; /* Espacio entre rectángulos */
    border-radius: 5%;
    
}

#rect1 { background-image: url('images/majin_buu.jpg');
    margin-top: 15px;
    margin-bottom: 0%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}



.loginpestana {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: linear-gradient(150deg, #000000, #01adb3);
    height: 100vh;
    
}


.iniciosesion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #E4E4E4;
    border-radius: 15px;
}

.iniciosesion h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.iniciosesion form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #01adb3;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #01adb3;
    transform: translateY(-10px);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #01adb3;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #01adb3;
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.botoninicio{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #646464;
    border-radius: 25px;
    font-size: 18px;
    color: #E4E4E4;
    cursor: pointer;
    outline: none;
}

.botoninicio:hover{
    border-color: white;
    color: white;
    transition: .5s;
    background-color: #35363A;

}