body{font-family: sans-serif;
    margin: 0;
    background-color: #ffffff}
    
a{color: black;
    text-decoration: none;}

header{background-color: #000000;
    display: flex;
    min-height: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    width: 100%;

}
    
.logo{display: flex;
    align-items: center;
    margin-left: 25px;}
    
.logo img{height: 40px;
    margin-right: -30px;
    margin-left: 5px;
}
    
nav a{font-weight: 600;
    padding-right: 50px;}

nav a:hover{color: #01adb3;}
    /* hover es para respresentar cuando el puntero esta sobre el texto */
header h2:hover{color: rgb(77, 55, 0);}

.nav-link {
    font-size: 14px;
    color: #ffffff;
    transition: color 0.3s;
}

.titulosheader1 {
    color: #ffffff;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.titulosheader1:hover {
    color: #01adb3; /* Color de texto al pasar el cursor */
}

.opciones {
    display: flex;
    align-items: center;
    appearance: none;
}

.opciones select {
    margin-left: 10px;
    justify-content: left;
}

.tipos {
    border: 0;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el cuadro de búsqueda */
}

.search-box input[type="text"] {
    
    margin-left: 5px;
}

input {
    padding: 9px;
    padding-right: 350px;
    border-radius: 16px 0 0 16px;
    border: 0;
    outline: none;
}

.botonbuscar {
    border: 0;
    padding: 9px;
    border-radius: 0 16px 16px 0;
}

.eslogan {
    background-color: #01adb3;
    display: flex;
    min-height: 300px;
    align-items: center;
}

.eslogantexto {
    margin: auto;
    margin-bottom: 7.5%;
    color: #E4E4E4;
    font-size: 35px;
    font-family: 'Didot', serif;
}
    
.titulosubmodelados {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin-left: 50px;
    color: #35363A;
    font-size: 18px;
}

.contenido3d {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between; /* Espacio horizontal entre rectángulos */
    flex-direction: row; /* Cambia la dirección de flex a fila */
    flex-wrap: wrap; /* Permite que los rectángulos se envuelvan en filas */
    justify-content: space-between; /* Espacio horizontal entre rectángulos */
    align-items: flex-start; /* Alinea los rectángulos en la parte superior */
    min-height: 33vh;
}

.rectangle {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 25px; /* Espacio entre rectángulos */
    border-radius: 5%;
}

#rect1 { background-image: url('images/majin_buu.jpg');
    margin-top: 0%;
    margin-bottom: 0%;
}